  </div>
    </div>
    <script src="/javascripts/nav.js"></script>
  </body>
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js', { scope: '/' });
    }
  </script>
</html>