<!-- Sidebar Nav -->
  <body>
    <div class="container">
      <nav class="sidebar">
        <h1><a href="/" class="logo">PlantApp</a></h1>

        <ul id="nav-list">
          <li><a class="link" href="/">Feed</a></li>
          <li><a class="link" href="/addplant">Make Post</a></li>
        </ul>
      </nav>
      <main class="content">
        <div class="column" id="column-hamburger">
          <div id="menu-toggle">
            <div class="bar" id="bar-1"></div>
            <div class="bar" id="bar-2"></div>
            <div class="bar" id="bar-3"></div>
          </div>
        </div>