  <body>
    <!-- Website Container -->
    <div class="container">
      <!-- Sliding Sidebar Navigation -->
      <nav class="sidebar">
        <h1><a href="/" class="logo">PlantApp</a></h1>

        <ul id="nav-list">
          <li><a class="link" href="/feed">Feed</a></li>
          <li><a class="link" href="/addplant">Make Post</a></li>
        </ul>
      </nav>
      <!-- Page Content -->
      <main class="content">
        <!-- Leftmost column just for menu toggle -->
        <div class="column" id="column-hamburger">
          <!-- Hamburger toggle button that changes into a cross when menu is open -->
          <div id="menu-toggle">
            <div class="bar" id="bar-1"></div>
            <div class="bar" id="bar-2"></div>
            <div class="bar" id="bar-3"></div>
          </div>
        </div>