:root {
    --main-colour: #425448;
}

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12.5%;
    height: 100vh;
    background-color: var(--main-colour);
    color: #fff;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.sidebar h1 {
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-family: "Merienda", cursive;
    font-size: 36px;
}

.sidebar a.logo {
    text-decoration: none;
    color: white;
}

.content {
    position: absolute;
    min-height: 100%;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar-active .sidebar {
    transform: translateX(0);
}

.sidebar-active .content{
    margin-left: 12.5%;
}

#nav-list {
    list-style: none;
    position: relative;
    font-size: 20px;
    text-align: left;
}

#nav-list li {
    padding: 10px 0;
}

#nav-list li a {
    text-decoration: none;
    color: white;
}

#menu-toggle {
    display: inline-block;
    background-color: var(--main-colour);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 5px;
}

.bar {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 15%;
}

.cross #bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.cross #bar-2 {
    opacity: 0;
}

.cross #bar-3 {
    transform: translate(0, -11px) rotate(45deg);
}