<<<<<<< HEAD
body {
  margin: 0;
  padding: 10px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #65836c;
}

nav {
  position: fixed;
  display: block;
  float: left;
  left: -6.25em;
  width: 100%;
  max-width: 17.5em;
  height: 100%;
  transition: all 300ms;
}

ul.nav-list {
  display: block;
  list-style: none;
  padding: none;

  > li {
    padding: 0.375em 0;
  }
}

div.content {
  background-color: white;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 3.125em;
  box-sizing: border-box;
  transition: all 300ms;
}

/* Hamburger menu toggle */
div#hamburger {
  position: fixed;
  cursor: pointer;
  border-radius: 0.375em;
  background-color: #ccc;
  color: #444;
  padding: 0.125em;
  padding-top: 0; /* I do not know why there is extra padding at the top of the div but this fixes it so I prefer not to think about it too much */
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif; /* Make icon bigger */
}

div#hamburger:hover {
  color: #ccc;
  background-color: #444;
=======
html,body {
  padding:0;
  margin:0;
  height:100%;
  background-color: #89983e;
>>>>>>> main
}

body {
  width:1600px;
}

#plant_desc {
  display: inline-block;
  vertical-align: top;
 }


.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.column {
  flex: 1;
}

.block {
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #bd8971;
  box-sizing: border-box;
  padding: 10px;
  margin: 50px;
  height: 50vh;
}

.image-section {
  width: 33%;
  height: 50%;
  margin-right: 10px;
}

.text-section {
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

