body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#plant_desc {
  display: inline-block;
  vertical-align: top;
 }
#sunExposure, #expandedCBs {
  display: inline-block;
}
