@import url("nav.css");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ===== LAYOUT STYLING ===== */

html, body {
  height: 100%;
  box-sizing: border-box;
}

#plant_desc {
  display: inline-block;
  vertical-align: top;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font: 16px "Montserrat", sans-serif;
  background-color: #e2e9f7;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 100vh;
  align-content: stretch;
}

.column {
  display: flex;
  flex: 1; /* Ensure all columns equal in height */
  align-items: stretch; /* Centre content vertically */
  justify-content: center; /* Centre content horizontally */
  padding: 0.5em;
}

#column-hamburger {
  flex: 1;
  min-width: 40px;
  max-width: 40px;
  padding: 0;
}

#column-filter {
  flex: 4;
}

#column-feed {
  flex: 34;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* ===== FEED POST STYLING ===== */

.block {
  flex: 1;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  background-color: #bd8971;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  box-shadow: 10px 10px 5px rgb(133, 133, 133);
  width: 100%;
}

.image-section {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.0625em;
}

.image-section img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section > p {
  margin: 0.33em;
}

.text-section > p > span {
  font-weight: bold;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}

/* ===== FILTER STYLING ===== */

.right-column form {
  display: flex;
  flex-direction: column;
}

.right-column label {
  margin-top: 10px;
}

.right-column select, .right-column input[type="checkbox"] {
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox-container input {
  margin-right: 10px;
}

.right-column button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.right-column button:hover {
  background-color: #45a049;
}
