<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form action="/add" method="POST" enctype="multipart/form-data">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="user_name" required><br><br>

    <label for="plantName">Plant Name:</label>
    <input type="text" id="plantName" name="plant_name" required><br><br>

    <label for="plantHeight">Plant Height:</label>
    <input type="text" id="plantHeight" name="plant_height" required><br><br>

    <!-- TODO: the output will be as a link. Use <a> in test.html -->
    <br><label for="dbPediaLink">DBPedia Link:</label>
    <input type="text" id="dbPediaLink" name="db_pedia_link" required><br><br>

    <label for="dateAndTimeSeen">Date and Time Seen:</label>
    <input type="datetime-local" id="dateAndTimeSeen" name="dts" required><br><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="gps" required><br><br>

    <label for="plantSpread">Plant Spread:</label>
    <input type="text" id="plantSpread" name="plant_spread" required><br><br>

    <div>Plant Characteristics:</div>
    <input class="plantChar" type="checkbox" id="flowers" name="flowers" value="Flowers">
    <label for="flowers"> Flowers</label>
    <input class="plantChar" type="checkbox" id="sunExposure" name="sun_exposure" value="Sun Exposure">
    <label for="sunExposure"> Sun Exposure</label><br>
    <div id="expandedCBs"></div><br>

    <label for="plantImage">Import plant image</label><br><br>
    <input type="file" id="plantImage" name="plantImg" accept="image/*" required>
    <br><br>

    <button type="submit">Submit</button>
</form>
<hr>
<a href="/display"><p>View All Plants</p></a>  <!-- need change -->

</body>
<script src="/javascripts/addPlant.js" defer></script>
<script>
    function reverseGeocode(latitude, longitude) {
        // Construct the API request URL
        // source: https://stackoverflow.com/questions/3513134/how-to-reverse-geocode-without-google
        var apiUrl = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}`;

        // Make a GET request to the API
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                // Extract address information from the response
                var address = data.display_name;
                console.log('Reverse geocoded address:', address);
            })
            .catch(error => {
                console.error('Error performing reverse geocoding:', error);
            });
    }

    // Example usage: reverse geocode coordinates (latitude, longitude)
    console.log(reverseGeocode(53.3921427, -1.4898791)); // London coordinates as an example

</script>
</html>
