<%- include("partials/head") %>
<%- include("partials/nav") %>
    <div class="column" id="column-username">
      <div class="welcome">
        <h1>Welcome to PlantApp!</h1>
        <p>Please enter your username:</p>

        <form id="username-form">
          <input type="text" id="username" name="username" placeholder="Username..." required>
        </form>
      </div>
    </div>
<%- include("partials/foot") %>
