<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Side Nav Menu -->
    <nav>
      <h1 class="logo">PlantApp</h1>
      <ul class="nav-list">
        <li id="feed"><a href="/">Feed</a></li>
        <li id="post"><a href="/create">Make Post</a></li>
      </ul>
    </nav>
    <div class="content">
      <div id="hamburger">☰</div>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
