<!-- TODO: delete this file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Dev</title>
  </head>
  <body>
    <div class="container">
      <nav class="side_nav">
        <h1 class="logo">PlantApp</h1>
        <ul class="nav-list">
        <li id="feed"><a href="/">Feed</a></li>
        <li id="post"><a href="/create">Make Post</a></li>
      </ul>
      </nav>
      <div class="content">
        
      </div>
    </div>
  </body>
</html>