<%- include("partials/head") %>
<%- include("partials/nav") %>
        <!-- Middle column for posts -->
        <div class="column" id="column-feed">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nulla perferendis molestias natus temporibus laudantium esse reiciendis suscipit enim accusantium odio, soluta sequi! Voluptates, quasi mollitia fuga tempora iusto ipsam distinctio, rem pariatur iure labore minus suscipit explicabo ipsum fugiat nesciunt sequi earum harum cum facilis doloremque impedit vero voluptatibus dignissimos voluptatum! Eaque tempore non, recusandae dolores, exercitationem quae labore aut porro laboriosam quidem, provident similique consectetur nesciunt quia dolore quo fuga! Possimus inventore blanditiis, voluptatem modi in animi tempore dolor pariatur voluptates dolores rerum atque neque enim perferendis architecto quos molestiae. Amet sequi ducimus ex iste omnis consequatur consectetur.</p>
        </div>
        <!-- Rightmost column for filter options -->
        <div class="column" id="column-filter">
          <p>Content for column 3</p>
        </div>
<%- include("partials/foot") %>
